* {color: #212A3E;}
header div {background-color: #F0F0F0;}
main {background-color: #F9D949;}
main li {background-color: #F0F0F0;}
li [type="text"] {background-color: #F0F0F0;}
body {background-color: #F9D949;}
header {background-color: #F45050;}
.calculo .coluna-direita li:last-child { background-color: #212A3E;}
nav {background-color: #F0F0F0; color: #212A3E; margin: 0;}
nav {border-radius: 0.2em; border: 5px solid #212A3E;}
nav li {padding: 1em; margin: 0; color: #212A3E;}
nav li:hover {background-color: #212A3E; color: #F0F0F0;}
nav li a:hover {color: #212A3E;}
footer{ background-color: #212A3E;}

/*! Específicos de cada página */
#enviarCalculo {background-color: #F45050; border-radius: 0 0 .5em .5em;}
#enviarCalculo:hover {background-color: #212a3e; color: #F0F0F0;}
.precos li:nth-child(2n + 1) { background-color: #F45050; }
.evento li:first-child { background-color: #F45050; }
.evento div {background-color: #bba236;}
.evento div li {background-color: #0ff !important;}
.evento li:last-child {border-top: 5px solid #212A3E;}
#fechaConvidado:hover {background-color: #F9D949; color:#212a3e; }
.abrirInterface:hover {background-color: #212A3E; color: #F0F0F0;}
.interface button {background-color: #F45050; color: #212A3E;}

body {background-color: #212a3e;}

/** Responsividade */
@media (max-width: 800px) {
    main { flex-flow: column wrap;}
    .coluna { width: 100%; text-align: center;}
    .coluna-esquerda { border-right: 0;}
    .coluna-direita {border-left: 0;}
    header ul { flex-flow: column wrap; text-align: center; margin-right: 0em;}
    header {justify-content: center; flex-flow: column;}
    nav {display: inline; margin-top: 1em;}
    nav li:hover {text-decoration: underline; text-decoration-line: underline; text-decoration-color: #f0f0f0;}
}