body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #93a1d3;
}
li { list-style: none;}
a { text-decoration: none; color: #fff;}
a:hover { text-decoration: underline; }
main li {
    background-color: #a0e8d4;;
    width: 80%;
    box-sizing: border-box;
    padding: 1em;
    border-bottom: 5px solid #000;
    border-left: 5px solid #000;
    border-right: 5px solid #000;
}
main ul li:first-child { border-top: 5px solid #000; }
.coluna-direita li:last-child {
    background-color: #58607D;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
li [type="text"]{
    width: 100%;
    box-sizing: border-box;
    border: 0;
    height:2em;
    background-color: #a0e8d4;
    font-size: larger;
}
main ul{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}
ul {padding: 0}

/** Header */
header {
    background-color: #a0afe8;
    color: #000;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 1em;
    border-bottom: 3px solid #000;
}
header div {
    background-color: #a1ccdb;
    border: 1px solid #000;
    padding: 1em 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 3em;
    margin-right: 2em;
}

/** Main */
main {
    display: flex;
    align-items: center;
}
.coluna {
    width: 50%;
    background-color: #93a1d3;
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}
.coluna-esquerda { border-right: 1px solid #000;}
.coluna-direita {border-left: 1px solid #000;}
.calculo { padding-bottom: 2em; }
/** Footer */
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: .2em;
    background-color: #000b31;
    color: #fff;
    padding-bottom: 1em;
}

/** Responsividade */
@media (max-width: 1100px) { footer {position: relative;} }
@media (max-width: 800px) {
    main { flex-flow: column wrap;}
    .coluna { width: 100%;}
    .coluna-esquerda { border-right: 0;}
    .coluna-direita {border-left: 0;}
    header ul { flex-flow: column wrap; text-align: center; margin-right: 0em;}
    header {justify-content: center; flex-flow: column;}
}

/** Página resultado */
.evento, .precos {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}
.precos li:last-child,
.evento li:last-child {
  margin-top: auto;
}
.evento div {
    box-sizing: border-box;
    width: 80%;
    display: flex;
    justify-content: center;
    background-color: #58607D;
}
.evento div li {
    box-sizing: border-box;
    background-color: #f00 !important;
    width: 60%;
    height: 13em;
    margin: 3em !important;
}
.evento li:last-child {font-size: larger;}
.precos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    flex-flow: column wrap;
}
.precos li:nth-child(2n + 1) {
    background-color: #93a1d3;
}
.precos li:nth-child(2n) {
    font-size: 2.5em;
}