body { margin: 0; padding: 0; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}
li { list-style: none;}
a { text-decoration: none; color: #fff;}
main li {
    width: 80%;
    box-sizing: border-box;
    padding: 1em;
    border-bottom: 5px solid #212A3E ;
    border-left: 5px solid #212A3E ;
    border-right: 5px solid #212A3E ;
}
main .coluna-esquerda ul li:first-of-type { border-top: 5px solid #212A3E; border-top-left-radius: 2em; }
main .coluna-direita ul li:first-of-type { border-top: 5px solid #212A3E; border-top-right-radius: 2em; }
li [type="text"]:focus, li [type="text"], li [type="date"]:focus, li [type="date"] {
    width: 100%;
    box-sizing: border-box;
    outline: none;
    border: none;
    height:2em;
    font-size: larger;
    background-color: #F0F0F0;
}
ul {padding: 0}

/** Header */
header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 1em;
    border-bottom: 3px solid #212A3E;
}
header div {
    border: 1px solid #212A3E ;
    padding: 1em 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
}
header ul { display: flex; flex-flow: row wrap; margin: 0 auto; }
header nav { text-align: center; font-weight: 900; border-radius: 1em;}

/** Main */
main {
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    align-items: flex-start;
}
.coluna {width: 50%;}
.coluna li:first-of-type {border-top: 5px solid #212A3E; border-radius: 1em 1em 0em 0em;}
.coluna li:last-of-type {border-radius: 0em 0em 1em 1em;}
.coluna ul{display: flex; flex-flow: column wrap; align-items: center;}
.coluna li {
    width: 80%;
    box-sizing: border-box;
    padding: 1em;
    border-bottom: 5px solid #212A3E;
    border-left: 5px solid #212A3E;
    border-right: 5px solid #212A3E;
}

/** Footer */
footer {
    margin-top: 0.5em;
    padding: 0.5em;
    text-align: center;
    padding: .2em;
    color: #F0F0F0;
}

/** Página resultado */
.evento .precos {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}
.precos li:last-child,
.evento li:last-child {
  margin-top: auto;
}
.evento div {
    box-sizing: border-box;
    width: 80%;
    display: flex;
    justify-content: center;
}
.evento div li {
    box-sizing: border-box;
    width: 60%;
    height: 13em;
    margin: 3em !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
.evento li:last-child {font-size: larger;}
.precos {
    justify-content: space-around;
    align-items: center;
    flex-flow: column wrap;
}
.calculo .coluna-direita li {padding: 0;}

.precos li:nth-child(2n) {
    font-size: 2em;
    padding: 0.5em;
    margin: 0;
}
.resultado li:nth-child(2n + 1) {
    font-size: 1.2em;
    text-align: center;
    font-weight: 900;
}
.interface {
    display: none;
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 30%;
    background-color: #F0F0F0;
    display: flex;
    text-align: center;
    gap: 1em;
    border: solid #212A3E 5px;
    margin-top: 20px;
    box-sizing: border-box;
    cursor: pointer;
}
.interface ul {display: flex; gap: 1em; flex-flow: column nowrap; }
.interface li {margin: 0 5em; background-color: #F0F0F0; border: solid #212A3E 5px;}
.interface li:not(:nth-child(2)) {border-radius: 1em;}
#fechaConvidado {
    right: 1.2em;
    top: 1.0em;
    position: absolute;
    background-color: #212A3E;
    font-weight: 900;
    border-radius: .2em;
    border: 0;
    color: #F0F0F0;
}
.abrirInterface {
    padding: 1em;
    font-size: larger;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: 900; 
    border: 0;
}

.interface .abrirInterface {border-radius: .5em;}

.interface li:first-of-type {border: 0;}
.interface li [type="text"] { text-align: center;}
