@import url("https://fonts.googleapis.com/css?family=Quicksand|Quicksand:wght@600&display=swap");


/** Configurações gerais da página*/

.blur { filter: blur(2px); transition: filter 1s; }
/* ::-webkit-scrollbar { width: 0; } */
:focus { outline: none; }
:root {
  --neon : currentColor;
  /* Azul */
  --primaria-n1:#00eeff;
  --gradiente:  #0088ff;
  --primaria:   #0044ff;
  --primaria-1: #0040f0;
  --primaria-2: #0033ee;
  --primaria-3: #0022dd;
  --escuro:     #0f0f0f;
  /* Rosa */
}
body {
  background: #f0f0f0;
  font-family: 'Quicksand', sans-serif;
}
a { text-decoration: none; }

/*! Elementos da página */

/** Aside */
aside {
  background: var(--primaria-1);
  display: none;
  transition: all 0.3s;
  min-height: 100vh;
  z-index: 9999;
}
aside li {
  transition: all 0.3s;
}
aside li:hover {
  color: #fff;
  background: var(--primaria-1);
  padding-left: 1em;
  padding-right: 1em;
  transition: all 0.3s;
}
aside li.active {
  background: var(--primaria-2);
}
aside li.active:hover {
  color: #fff;
  background: var(--primaria-3);
}
aside li a {
  color: #fff;
}
aside.active {
  margin-left: 0;
  transition: all 0.3s;
  display: block;
}
aside li.active a, aside li.active a:hover, li a:hover {
  color: #fff;
}
/** Main */
main {
  background: #f0f0f0;
  min-height: 100vh;
}
main h1 {
  background: #fff;
}

/*! Items da página */
/** Botões superiores */
.funcionalidades { z-index: 100; }
.funcionalidades button {
  font-size: initial;
  transition: all 0.2s;
  background-color: #0f0f0f;
}
.funcionalidades button:hover {
  background-color: #212529;
  font-size: 1.2rem;
  transition: all 0.2s;
}
.trocaTipo {
  color: var(--primaria-n1);
  text-shadow:
    0 0 7px currentColor,
    0 0 10px currentColor,
    0 0 21px currentColor,
    0 0 42px currentColor,
    0 0 82px currentColor,
    0 0 92px currentColor,
    0 0 102px currentColor,
    0 0 151px currentColor;
}
/** Cards-Estáticos */
.card-resultado small {
  font-family: 'Quicksand bold 600', sans-serif; 
  color: var(--escuro);
  font-weight: 600;
  font-size: small;
  text-transform: uppercase;
}
.card-resultado span {
  font-family: 'Quicksand bold 600', sans-serif; 
  color: var(--escuro);
  font-weight: 100;
}
.valores-header {
  background: #FFF;
  border-image: linear-gradient(to bottom, var(--gradiente), var(--gradiente));
  border-image-slice: 100% 25% 0 25%;
  border-image-width: 2px;
  color: var(--escuro);
  font-size: 1.2rem;
  font-weight: 500;
  padding: 0.5rem;
}
.pizza-header {
  background: var(--primaria);
  padding: 0.5rem;
  color: #fff;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.pizza-header h6 {
  font-size: 1.2rem;
  font-weight: 100;
}
.header-azul {
  border-image: linear-gradient(to bottom, var(--primaria-n1), var(--primaria));
  border-image-slice: 100% 25% 0 25%;
  border-image-width: 2px;
}
.header-verde {
  border-image: linear-gradient(to bottom, var(--primaria-n1),#00ff00);
  border-image-slice: 100% 25% 0 25%;
  border-image-width: 2px;
}
#exportarDados {
  background-color: var(--primaria);
  padding: 0.75rem 1.25rem;
  transition: all 0.3s;
  border: none;
}
#exportarDados:hover {
  background: var(--primaria-2);
  filter: drop-shadow(1px 1px 4px #fff);
  transform: scale(1.1);
  transition: all 0.3s;
}
.graficoPizza {
  flex-grow: 1;
}
/** Botões para escolher listas */
.escolheLista button {
  background: #fff;
  color: var(--escuro);
  padding: 0.75rem 1.25rem;
  transition: transform 0.3s, filter 0.3s;
}
.escolheLista button:hover {
  background: var(--primaria);
  filter: drop-shadow(1px 1px 4px #fff);
  transform: translateX(-20px);
  transition: transform 0.3s;
}
.escolheLista button:focus:hover {
  background: var(--primaria-1);
}
.escolheLista button.active {
  background: var(--primaria-2);
  transform: translateX(-20px);
}
.escolheLista button.active:hover {
  background: var(--primaria-3);
}
/** Cards */
/*? Usado nas listas */
.cardConvidado {
  max-height: 300px;
  width: 100%;
  min-width: 200px;
}
.cardConvidado ul {
  max-width: 300px;
}
.cardConvidado button {
  color: #9FA6B2;
  transition: all 0.3s;
}
.cardConvidado button:hover {
  color: #212529;
  font-size: 18px;
  transition: all 0.3s;
}
.cardBotao {
  color: #9FA6B2;
  transition: all 0.3s;
}
.cardBotao:hover {
  color: #212529;
  font-size: 18px;
  transition: all 0.3s;
}
.card-header {
  background: #FFF;
  border-image: linear-gradient(to right, var(--primaria), var(--primaria-n1));
  border-image-slice: 100% 25% 0 25%;
  border-image-width: 2px;
  color: var(--escuro);
  font-size: 1.2rem;
  font-weight: 500;
  padding: 0.75rem 1.25rem;
}
.card-container {
  position: absolute;
}
/** Accordion */
/*? Até o momento utilizado somente na página Collection */
.accordion {
  max-height: 95vh;
  overflow-y: auto;
}
.accordion-item { border: 0; }
.accordion-header button{  
  font-size: x-large;
}
.accordion-body{
  background-color: #f0f0f0;
  padding: 10px 0;
}
.accordion-body ul { gap: 0.5em; }
.accordion-body ul li {
  transition: font-size 0.3s;
  width: 95%;
  margin: 0 auto;
}
.accordion-body ul li:hover {
  background: linear-gradient(to bottom, var(--primaria-n1), var(--gradiente), var(--primaria));
  color: #fff;
  font-size: larger;
  transition: font-size 0.3s;
}
.accordion-button:focus {
  box-shadow: none;
  border-color: #fff;
}
/*: Button Aberto*/
.accordion-button {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem 1.25rem;
  font-size: 1rem;
  color: #fff;
  background-image: linear-gradient(to right,var(--gradiente), var(--primaria), var(--gradiente));
  border: #fff 1px solid;
  border-top: none;
  border-top-width: 2px;
  overflow-anchor: none;
}
.colParticipantes .accordion-button {
  border-left: none;
}
.colServicos .accordion-button {
  border-right: none;
}
.colInsumos .accordion-button {
  border-left: none;
  border-right: none;
}
.accordion-button:hover {
  color: #fff;
  background-image: linear-gradient(to right,var(--primaria-n1), var(--primaria), var(--primaria-n1));
  animation: hue-rotate-animation 2s infinite;
}
/*: Button Fechado*/
.accordion-button:not(.collapsed) {
  color: #fff;
  background-image: linear-gradient(to right, var(--primaria), var(--gradiente), var(--primaria));
}
.accordion-button:not(.collapsed):hover {
  color: #fff;
  background-image: linear-gradient(to right, var(--primaria), var(--primaria-n1), var(--primaria));
}
.accordion-button:focus-visible {
  outline: none;
}
#accordion-servicos li {
  display: flex;
  justify-content: space-between;
}
/*> Seta para abrir e fechar accordion, precisa ser trocada*/
.accordion-button:after {
  background-image: url("../node_modules/bootstrap-icons/icons/chevron-double-down.svg") !important;
  filter: invert(1);
}
/** Toaster */
/*? Janelhinha que abre no canto inferior direito */
.toast-header {
  border-image: linear-gradient(to right, var(--primaria), var(--primaria-n1));
  border-image-slice: 100% 25% 100% 25%;
  border-image-width: 2px;
  border-radius: 0;
  background-color: #0f0f0f;
  color: #f0f0f0;
}

/** Media Queries */
@media screen and (max-width: 767px) {
  .colInsumos, .colParticipantes, .colServicos {
    border: none;
  }
  .blur {
    filter: blur(0);
  }
}
@media screen and (max-width: 991px) {
  aside {
    margin-left: -100%;
  }
  aside li:hover {
    padding-left: 0;
    padding-right: 0;
  }
}
/*> Ideal seria $(.barraLista).css('width', 100 - aside.width '%')*/
@media screen and (max-width: 1399px) {
  .barraLista {
    position: sticky;
  }
}
@media screen and (min-width: 1400px) {
  .barraLista {
    position: fixed;
  }
}

/** Keyframes */
@keyframes hue-rotate-animation {
  0% {filter: hue-rotate(0deg) drop-shadow(1px 1px 10px #ffe) blur(0) brightness(1);}
  50% {filter: hue-rotate(180deg) drop-shadow(1px 1px 10px #ffe) blur(0.8px) brightness(1.8);}
  100% {filter: hue-rotate(360deg) drop-shadow(1px 1px 10px #ffe) blur(0) brightness(1);}
}
@keyframes apenasCor {
  0% {filter: hue-rotate(0deg);}
  100% {filter: hue-rotate(360deg);}
}
@keyframes listas {
  0% {filter: drop-shadow(1px 1px 4px #0044ff);}
  50% {filter: drop-shadow(1px 1px 4px #0044ff);}
  100% {filter: drop-shadow(1px 1px 4px #0044ff);}
}

/*! Não lembro para o que serve */
span.d-md-block { font-size: smaller;}
.expande { background-color: #00f0f0 !important;}
/*// Não utilizado no momento */
footer {
  z-index: 9999;
  background-color: #0f0f0f;
  color: #f0f0f0;
}
footer a {
  color: #212529;
  text-decoration: none;
  font-size: 1px;
  transition: all 0.5s;
}
footer a:hover {
  color: #fff;
  transition: all 0.5s;
  font-size: 1.2rem;
}
